<app-header></app-header>

<div class="container" *ngIf="errMessage !== ''">
  <div class="alert alert-danger" role="alert">
    {{ errMessage }}
  </div>
</div>

<div class="container">
  <form [formGroup]="studentRegisterForm">
    <div class="form-group">
      <label for="studentName">Student Name</label>
      <input
        type="text"
        class="form-control"
        id="studentName"
        placeholder="Enter Student Name"
        formControlName="studentName"
      />
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="
          !studentRegisterForm.get('studentName').valid &&
          studentRegisterForm.get('studentName').touched
        "
      >
        Student Name field cannot be left blank
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Enter email"
        formControlName="email"
      />
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="
          !studentRegisterForm.get('email').valid &&
          studentRegisterForm.get('email').touched
        "
      >
        Email field cannot be left blank
      </div>
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <textarea
        type="text"
        class="form-control"
        id="address"
        placeholder="Enter Address"
        formControlName="address"
      ></textarea>
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="
          !studentRegisterForm.get('address').valid &&
          studentRegisterForm.get('address').touched
        "
      >
        Address field cannot be left blank
      </div>
    </div>
    <div class="form-group">
      <label>Gender:</label>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="gender"
          id="genderMale"
          value="Male"
          formControlName="gender"
        />
        <label class="form-check-label" for="genderMale">
          Male
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="gender"
          id="genderFemale"
          value="Female"
          formControlName="gender"
        />
        <label class="form-check-label" for="genderFemale">
          Female
        </label>
      </div>
    </div>
    <div class="hobbiesDiv" formArrayName="hobby">
      <button class="btn btn-success" type="button" (click)="onAddHobby()">
        Add Hobby
      </button>
      <div
        class="form-group"
        *ngFor="
          let hobbyControl of studentRegisterForm.get('hobby').controls;
          let i = index
        "
      >
        <input
          type="text"
          class="form-control hobby-field"
          [formControlName]="i"
        />
      </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">
      Submit
    </button>
  </form>
</div>

<div class="container">
  <mat-card *ngFor="let student of studentArray">
    <img
      class="close-icon"
      src="../assets/close.svg"
      (click)="deleteStudent(student.id)"
    />

    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ student.studentName }}</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <strong>Email:</strong> {{ student.email }} <br />
      <strong>Gender:</strong> {{ student.gender }} <br />
      <strong>Address:</strong> {{ student.address }} <br />
      <strong>Hobbies:</strong> {{ student.hobby }}
      <br />
    </mat-card-content>
  </mat-card>
</div>
